In [2]:
import pandas as pd

values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)

print('데이터프레임 출력 :') 
print('-'*18)
print(df)

데이터프레임 출력 :
------------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [3]:
print('데 이 터 프 레 임 의 인 덱 스 : {}'.format(df.index)) 
print('데 이 터 프 레 임 의 열 이 름: {}'.format(df.columns)) 
print('데이터프레임의 값 :')
print('-'*18)
print(df.values)

데 이 터 프 레 임 의 인 덱 스 : Index(['one', 'two', 'three'], dtype='object')
데 이 터 프 레 임 의 열 이 름: Index(['A', 'B', 'C'], dtype='object')
데이터프레임의 값 :
------------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [4]:
#리스트로 생성하기 
data = [
    ['1000', 'Steve', 90.72],
    ['1001', 'James', 78.09],
    ['1002', 'Doyeon', 98.43],
    ['1003', 'Jane', 64.19],
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]

df = pd.DataFrame(data) 
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [5]:
df = pd.DataFrame(data, columns=['학 번', '이 름', '점 수']) 
print(df)

    학 번       이 름    점 수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [6]:
#딕셔너리로 생성하기 
data = {
'학 번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
'이 름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'], '점 수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
}
df = pd.DataFrame(data) 
print(df)

    학 번       이 름    점 수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [7]:
# 앞 부분은 3개만 보기
print(df.head(3))

    학 번     이 름    점 수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [8]:
# 뒷 부분을 3개만 보기
print(df.tail(3))

    학 번       이 름    점 수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [10]:
# '학 번'에 해당되는 열을 보기
print(df['학 번'])

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학 번, dtype: object